td.win {
    color: red;
}

td.lose {
    color: green;
}

td.waive {
    color: grey;
}

td.diagonalFalling {
    /* https://stackoverflow.com/questions/30376886/is-it-possible-to-cross-out-cells-in-an-html-table/30377346#30377346 */
    background-image: linear-gradient(to top right, transparent calc(50% - 1px), black, transparent calc(50% + 1px));
}

div.Disable {
    color: lightgray;
}

div.Platinum {
    color: #5A2A82;
}

div.Gold {
    color: #B8860B;
}

div.Silver {
    color: #848482;
}

div.Bronze {
    color: #B87333;
}

#spinner * {
    background-color: transparent;
}

#infotable tr td {
    white-space: nowrap;
    padding: 1px 50px 1px 1px;
    width: 100%;
}

a.ttlink {
    cursor: pointer;
}

input[readOnly]:not(.x-trigger-noedit) {
    background: lightgrey;
}

/* https://www.scriptol.com/css/tooltip.php */
span.avatar span {
    display: none;
}

span.avatar:hover span {
    display:block;
    position:fixed;
    z-index:1000;
    top: 20%;
    margin-left:100px;
}

.x-grid3-hd-avatar {
    background: transparent
        url(etc/avatar.png)
        no-repeat 3px 3px ! important;
}

#more {
    font-size: 12px;
}

#more div{
    margin-top: 10px;
    margin-bottom: 10px;
}

